.icon{display:inline-block;width:1rem;height:1rem;background-repeat:no-repeat;background-size:contain;background-position:center;vertical-align:middle}
.icon--menu{background-image:url('../assets/pixel/icons/menu.svg')}
.icon--back{background-image:url('../assets/pixel/icons/back.svg')}
.icon--close{background-image:url('../assets/pixel/icons/close.svg')}
.icon--trophy{background-image:url('../assets/pixel/icons/trophy.svg')}
.icon--stats{background-image:url('../assets/pixel/icons/stats.svg')}
